.ml10 {
	margin-left: 10rpx;
}
.ml20 {
	margin-left: 20rpx;
}
.mr10 {
	margin-right: 10rpx;
}
.mr20 {
	margin-right: 20rpx;
}


.flex {
	display: flex;
}

.bg-red {
	background: red;
}
.bg-green {
	background: green;
}
